/* REMOVING THE DEFAULT STYLINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", thin, sans-serif;
}

:root {
  --bg-color: white;
  --text-color: black;
}

h1 {
  font-size: 56px;
  margin-top: 10%;
  padding-left: 30px;
  align-self: flex-start;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1;
}

.section1,
.section2,
.section3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.section1 {
  align-items: center;
  gap: 5%;
}

.section2 {
  align-items: center;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 50px;
}

ul {
  display: flex;
  justify-content: flex-start;
  gap: 1%;
  list-style: none;
  padding: 0;
  flex: 1;
}

.button-container {
  margin-left: auto;
}

#theme-button {
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* ICONS */
.fa-spotify {
  pointer-events: none;
}

.spotify-button,
.github-button,
.youtube-button {
  font-size: 200%;
  border: none;
  cursor: pointer;
}

/* SPOTIFY EMBED */
#spotify-embed {
  display: none;
  position: absolute;
  width: 25%;
  bottom: 60px;
  left: 10px;
  border-radius: 10px;
}

#youtube-embed {
  display: none;
  position: absolute;
  width: 35%;
  bottom: 60px;
  left: 10px;
  border-radius: 10px;
}

.fa-moon,
.fa-sun {
  box-sizing: border-box;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1000%;
  border: none;
  /* POSITION */
  width: 155px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1.5s;
}

.fa-moon {
  bottom: -40vh;
}

.fa-sun {
  bottom: 70vh;
}

/* MEDIA QUERIES TO REMOVE SUN/MOON ICONS FOR PHONE DISPLAYS */
@media only screen and (max-width: 768px) {
  /* Hides the sun and moon icons on mobile */
  .fa-moon,
  .fa-sun {
    z-index: -1;
  }
  .section2 {
    display: none;
  }

  #spotify-embed {
    width: 75%;
  }

  #youtube-embed {
    width: 95%;
  }
}
