/* STYLING USER INPUT */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 18px;
}
.task-list-container {
  width: 90%;
  padding: 10px;
  flex: 1;
}

.task-input {
  width: 95%;
  height: 30px;
  font-size: 18px;
  border: 0;
  padding: 10px 10px 10px 0px;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.task-input:focus {
  outline: none;
}

.add-task-button {
  width: 50px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--text-color);
}

/* REMOVE BULLET POINTS AND SET DEFAULT WIDTH OF TASK-LIST */
.task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

/* STYLING EACH DIV */
.task-list > div {
  margin: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

/* GROW TASK TEXT TO FILL DIV */
.task-list li {
  flex-grow: 1;
}

/* STYLING DONE TASKS */
.doneItem {
  text-decoration: line-through;
  opacity: 0.5;
}

/* DISABLING POINTER EVENTS FOR ICONS TO ALLOW FOR PROPER BUTTON CLICK */
.fa-trash,
.fa-check {
  pointer-events: none;
}

/* STYLING BUTTONS  */
.done-btn,
.delete-btn {
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.delete-btn {
  color: var(--text-color);
}

.done-btn {
  color: var(--text-color);
}

.done-btn:active {
  background: var(--bg-color);
}

.delete-btn:active {
  background: var(--bg-color);
}
