.timer {
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--text-color);
  border-radius: 7px;
}

.clock {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 96px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.mode-buttons {
  display: flex;
  justify-content: space-between;
}

.mode-button {
  padding: 5px;
  margin: 5px;
  background: none;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.mode-button.active {
  border-color: var(--text-color);
}

.main-button {
  height: 50px;
  width: 100px;
  font-size: 26px;
  padding: 5px;
  border-radius: 4px;
  background: none;
  border: 1px solid var(--text-color);
  cursor: pointer;
}

/* Button depressed effect */
.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
}
