/* REMOVING THE DEFAULT STYLINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
} 

body {
    background-color: #F5EEDF;
}

/* SPOTIFY EMBEDDING */
iframe {
    position: fixed;
    bottom: 200px;
    border-radius: 15px;
}

/* FLEXBOX CONTENT */
.main-content {
    height: 97vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section1, .section2, .section3 {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 1%;
}

.section1 {
    width: 27%;
}

.section2 {
    align-items: center;
    width: 40%;
}

.section3 {
    width: 27%;
}

