<!DOCTYPE HTML>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <title>The Little Laundromat</title>
    </head>
    <body>
        <iframe src="https://open.spotify.com/embed/playlist/6dt9R9Knfn5Jns2szsox27?theme=0" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    
        <main class="main-content">
            <header>
                <h1>The Little Laundromat</h1>
            </header>
            <div class="task-list"></div>
            <div class="illustration"></div>
            <div class="sound-panel"></div>
        </main>

    </body>
</html>