<!DOCTYPE HTML>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <title>The Little Laundromat</title>
    </head>
    <body>
        <main class="main-content">
            <div class="section1">
                <header>
                    <h1>The Little Laundromat</h1>
                </header>
                <iframe src="https://open.spotify.com/embed/playlist/6dt9R9Knfn5Jns2szsox27?theme=0" width="20%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="section2">
                <img src="/static/TLL.svg">
            </div>
            <div class="section3">
                <h1>Sound Panel</h1>
            </div>
        </main>

    </body>
</html>